@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-black;
}

body.dark {
  @apply bg-black text-white;
}



body {
  @apply transition-colors duration-300 ease-in-out;
}
header {
  @apply p-8 bg-customBlue text-white;
}
body.dark header {
  @apply bg-customDarkBlue text-gray-200;
}

body.dark section {
  @apply bg-customSkillDark text-gray-200;
}
body.dark section .max-w-6xl {
  @apply text-customTitleSkillDark;
}
section .max-w-6xl {
  @apply text-customBlue;
}
section .mt-2 {
  @apply text-black;
}
body.dark section .mt-2 {
  @apply text-white;
}

.profile {
  @apply bg-customBlue text-white;
}
body.dark .profile {
  @apply bg-customDarkBlue text-gray-200;
}

.theme-label {
  @apply text-customBlue;
}
body.dark .theme-label {
  @apply text-customLightModeColor;
}

.headerss {
  background: linear-gradient(to right, #4731d3 64%, #cbf281 36%);
}
body.dark .headerss {
  background: linear-gradient(to right, #171043 64%, #19210b 36%);
}

.footer {
  @apply bg-white text-black;
}
body.dark .footer {
  @apply bg-customSkillDark text-gray-200;
}

.project-head {
  @apply bg-customTitleSkillDark text-white;
}
body.dark .project-head {
  @apply bg-customHeadRightDark text-gray-200;
}

@media (max-width: 768px) {
  .theme-label {
    @apply text-white;
    
  }
  body.dark .theme-label {
    @apply text-white;
  }
  .project {
    @apply p-10;
  }
  .headerss {
    background: #4731d3; /* Sadece sol taraftaki renk */
  }

  body.dark .headerss {
    background: #171043; /* Sadece sol taraftaki koyu renk */
  }
}

.switch {
  display: inline-block;
  position: relative;
  
}

.switch__input {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.switch__label {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 24px;
  background-color: #3a3a3a;
  border-radius: 9999px;
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

/*.switch__indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateX(-72%);
  display: block;
  width: 15px;
  height: 16px;
  background-color: #ffd500;;
  border-radius: 9999px;
}*/

.switch__indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateX(-72%);
  display: block;
  width: 20px;
  height: 20px;
  background-color: #ffd50000 ;
  /* Ayın ana rengi */
  border-radius: 50%;
  /* Daire oluşturur */
  box-shadow: inset 7px 0 0 #ffd500;
  /* İç gölgeyi sağ tarafa kaydırır */
}
@keyframes twinkle {
  50% {
    opacity: 0.2;
  }
}

.switch__indicator {
  &,
  &::before,
  &::after {
    transition: all 0.4s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  }
}

.switch__input:checked + .switch__label {
  background-color:#8f88Ff;
  

  .switch__indicator {
    background-color: #ffd500;
    box-shadow: none;
    transform: translate(-50%, -50%) translateX(72%);

    &::before,
    &::after {
      display: none;
    }
  }

  .switch__decoration {
    top: 50%;
    transform: translate(0%, -50%);
    animation: cloud 8s linear infinite;

    width: 20px;
    height: 20px;

    &::before {
      width: 10px;
      height: 10px;
      top: auto;
      bottom: 0;
      left: -8px;
      animation: none;
    }

    &::after {
      width: 15px;
      height: 15px;
      top: auto;
      bottom: 0;
      left: 16px;
      animation: none;
    }

    &,
    &::before,
    &::after {
      border-radius: 9999px 9999px 0 0;
    }

    &::after {
      border-bottom-right-radius: 9999px;
    }
  }
}

@keyframes cloud {
  0% {
    transform: translate(0%, -50%);
  }
  50% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(0%, -50%);
  }
}
